<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<appSettings>
		<add key="system6strConn" value="Server=petra-sql2.seoul.co.kr;uid=erpcustomer;pwd=roqkfqn@1904;database=event;"/>
		<add key="ODBCsisConnection" value="DRIVER={MySQL ODBC 5.1 Driver};Server=petra.seoul.co.kr;Database=jis_user;UID=ituser;PASSWORD=roqkfqn@1904"/>
		<!--<add key="logpath" value="I:\work\logs"/>-->
	</appSettings>

	<system.web>
		<sessionState mode="InProc" timeout="720" />
		<compilation debug="true" targetFramework="4.6.1" />
		<httpRuntime targetFramework="4.6.1" />
		<customErrors mode="Off"/>
	</system.web>
	
</configuration>
